<div class="heading">
  <mat-form-field appearance="outline" style="padding-left: 20px">
    <input matInput #keyword placeholder="idx trips" />
  </mat-form-field>
  <button class="button" color="primary" (click)="findOne(keyword)">
    FindOne
  </button>
  <mat-form-field appearance="outline" style="padding-left: 20px">
    <input matInput #keywordname placeholder="name trips" />
  </mat-form-field>
  <button class="button" color="primary" (click)="findname(keywordname)">
    Findname
  </button>
  <mat-form-field appearance="outline" style="width: 200px">
    <mat-label>Destination</mat-label>
    <mat-select [(ngModel)]="selectcountry" name="country">
      <mat-option *ngFor="let c of countries" [value]="c.value">{{
        c.name
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <button class="button" color="primary" (click)="findcountry(selectcountry)">
    findcountry
  </button>
  <button class="button" color="primary" (click)="callApi()">Select All</button>

</div>
<div class="trips">
  <div class="content" *ngFor="let trip of trips" (click)="detail(trip.idx)">
    <h2>{{ trip.name }}</h2>
    <h4>{{ trip.country }}</h4>
    <img [src]="trip.coverimage" alt="" />
  </div>
</div>
